In [ ]:
import random
def guess_the_number():
print("Welcome to 'Guess the Number'!")
print("I'm thinking of a number between 1 and 100.")
target_number = random.randint(1, 100)
attempts = 0
while True:
guess = input("Enter your guess: ")
if not guess.isdigit():
print("Please enter a valid number.")
continue
guess = int(guess)
attempts += 1
if guess < target_number:
print("Too low! Try again.")
elif guess > target_number:
print("Too high! Try again.")
else:
print(f"Congratulations! You guessed the number in {attempts} attempts.")
break

In [3]:
string=["apple",5]
print(string[0])
print(string[1])
print(string)

apple
5
['apple', 5]

In [3]:
#FACTORIAL
def factorial(n):
    if n == 0 or n == 1: 
        return 1
    else:
        return n * factorial(n - 1)
factorial(5)

120

In [7]:
#FIBONACCI
def fibonacci(n):
    if n<=1:
        return n
    else:
        return fibonacci(n-1)+fibonacci(n-2)
fibonacci(6)

8

In [14]:
#SUM OF NATURAL NUMBERS
def sum_naturalnumber(n):
    if n==1:
        return 1
    else:
        return n+sum_naturalnumber(n-1)
print(sum_naturalnumber(5))

15

In [24]:
#CHECK IF A STRING IS A PALLENDROME
def is_pallendrome(s):
    if len(s) <= 1:
        return True
    if s[0] != s[-1]:
        return False
    return is_pallendrome(s[1:-1])
is_pallendrome("racecar")

True

In [27]:
#POWER OF A NUMBER
def power(x,y):
    if y==0:
        return 1
    return x*power(x,y-1)
power(3,4)

81

In [28]:
#GCD
def gcd(a, b):
    if b == 0:
        return a
    return gcd(b, a % b)
print(gcd(48, 18))

6

In [29]:
#DECIMAL TO BINARY
def decimal_to_binary(n):
    if n == 0:
        return ""
    return decimal_to_binary(n // 2) + str(n % 2)
print(decimal_to_binary(10))

1010

In [31]:
#REVERSE A STRING
def reverse_string(s):
    if len(s) == 0:
        return ""
    return s[-1] + reverse_string(s[:-1])
print(reverse_string("hello"))

olleh

In [32]:
#Sum of Digits of a Number
def sum_of_digits(n):
    if n == 0:
        return 0
    return n % 10 + sum_of_digits(n // 10)
print(sum_of_digits(123))

6

In [36]:
#Product of Array Elements
def product_of_array(arr, n):
    if n == 0:
        return arr[0]
    return arr[n] * product_of_array(arr, n - 1)
print(product_of_array([1, 2, 3, 4], 3))

2

In [1]:
a="this is AMRITA college"
a.casefold()

'this is amrita college'

In [4]:
#imp#NO.OF VOWELS IN THE STATEMENT
string="programing"
vowel="AaEeIiOoUu"
count=sum(1 for char in string if char in vowel)
print(count)

3

In [5]:
#list comprehension
thislist=["apple","banana","cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [17]:
pos=-1
def search(list,n) :
    i=0
    while i<len(list):
        if list[i]==n:
            globals()['pos']=i
            return True
        i=i+1
    return False
list=[5,8,4,6,9,2]
n=5
if search(list,n):
    print("Found at",pos+1)
else:
    print("not found")

Found at 1

In [11]:
def binarysearch(array,x,low,high):
    while low<=high:
        mid=low+(high-low)//2
        if x==array[mid]:
            return mid
        elif x>array[mid]:
            low=mid+1
        else:
            high=mid-1
    return -1
array=[3,4,5,6,7,8,9]
x=4
binarysearch(array,x,0,6)

1

In [18]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function("Emil", "Tobias", "Linus")

The youngest child is Emil

In [20]:
def my_function(food):
  for x in food:
    print(x)

a = ["apple", "banana", "cherry"]

my_function(a)

apple
banana
cherry

In [1]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result
tri_recursion(6)

1
3
6
10
15
21

21

In [3]:
#selection sort:(1st element as min,compare the other if other is smaller than min then swap)

In [14]:
#insertion sort
def insertionSort(arr):
    n=len(arr)gbg
    if n<=1:
        return
    for i in range(1,n):
         key=arr[i]
         j=i-1
         while j>=0 and key<arr[j]:
             arr[j+1]=arr[j]
             j-=1
         arr[j+1]=key
arr=[40,20,60,10,50,30]
insertionSort(arr)
print(arr)

[10, 20, 30, 40, 50, 60]

In [5]:
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)
y=txt.find(no)
print(y)

7

NameError: name 'no' is not defined

In [8]:
txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)
y=txt.index(no)
print(y)

7

NameError: name 'no' is not defined

In [2]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1,"orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [3]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [5]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red)=fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry