In [2]:
side=int(input("enter the side value"))
print(side*side)

enter the side value 8

64

In [8]:
a=int(input("enter the value of number"))
if a%7==0 :
   print("divisible by seven")
else :
   print("not divisible by seven")

enter the value of number 77

divisible by seven

In [12]:
a=int(input("enter the value of number"))
if a%5==0 :
    if a%7==0:
        print("divisible")
    else:
        print("not divisible ")
else:
    print("not divisible")

enter the value of number 45

not divisible

In [15]:
a=int(input("enter the value of number1"))
b=int(input("enter the value of number2"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

enter the value of number1 8
enter the value of number2 2

10
6
16
4.0

In [17]:
a=int(input("enter the value of number1"))
b=int(input("enter the value of number2"))
c=int(input("enter the value of number3"))
print(a+b+c)

enter the value of number1 7
enter the value of number2 8
enter the value of number3 1

16

In [18]:
a=int(input("enter the value of number1"))
b=int(input("enter the value of number2"))
print((a+b)*2)

enter the value of number1 3
enter the value of number2 4

14

In [21]:
a=int(input("enter the value of number"))
print(3.14*a*a)

enter the value of number 2

12.56

In [22]:
a=int(input("enter the value of number1"))
b=int(input("enter the value of number2"))
c=int(input("enter the value of number3"))
print(b**2-4*a*c)

enter the value of number1 3
enter the value of number2 4
enter the value of number3 5

-44

In [33]:
a=int(input("chose a number 1. for Addition, 2. for subtraction, 3. for multiplication and 4. for division"))

if a==1:
    b=int(input("enter the value of number1"))
    c=int(input("enter the value of number2 "))
    print(b+c)
elif a==2:
    b=int(input("enter the value of number1"))
    c=int(input("enter the value of number2 "))
    print(b-c)
elif a==3:
    b=int(input("enter the value of number1"))
    c=int(input("enter the value of number2 "))
    print(c*b)
elif a==4:
    b=int(input("enter the value of number1"))
    c=int(input("enter the value of number2 "))
    print(b/c)
else:
    print("invalid")

chose a number 1. for Addition, 2. for subtraction, 3. for multiplication and 4. for division 7

invalid

In [ ]:
a=int(input("enter theno.of bonus hours worked in a week"))
b=int(input("enter the rate per hour"))
c=int(input("enter the no.of weeks in a month"))
print(a*b*c)

In [50]:
a=float(input("enter the distance between delhi to mumbai"))
velocity=60
#petrol cost per liter=100
b=a/velocity 
c=a*50 #I took 1 liter of pertol is consumed for 2km
print("total time taken to travel from delhi to mumbai :",round(a/velocity,2))
print("total cost of petrol to complete the journey is :",c)

enter the distance between delhi to mumbai 100

total time taken to travel from delhi to mumbai : 1.67
total cost of petrol to complete the journey is : 5000.0

In [ ]:
a=int(input("enter the value in seconds"))

In [2]:
a=str(input("enter a string"))
print(len(a))

enter a string jayasree

8

In [4]:
a=str(input("enter a string"))
print(a.count("s"))

enter a string i am studying in amrita school

2

In [4]:
a=int(input("enter a number"))
if (a%2==0):
    print("even number")
else:
    print("odd number")

enter a number 77

odd number

In [8]:
a=int(input("enter the number 1"))
b=int(input("enter the number 2"))
c=int(input("enter the number 3"))
if (a>b and a>c):
    print(" number 1 is greatest")
elif (b>a and b>c):
    print("number 2 is greatetst")
else:
    print("number 3 is greatest")

enter the number 1 1
enter the number 2 88
enter the number 3 4

number 2 is greatetst

In [9]:
a=int(input("enter a number"))
if (a%7==0):
    print("divisible by seven")
else :
    print("not divisible by seven")

enter a number 77

divisible by seven

In [12]:
list=['apple','banana','carrot','banana','apple']
list_copy=list.copy()
list_copy.reverse()
if list_copy==list :
    print("pallendrome")
else :
    print("no")
#by doing list_copy.reverse() we are altering the list so we use list_copy==list

pallendrome

In [24]:
list=["c","d","a","a","b","b","a"]
list.count("a")

3

In [25]:
list=["c","d","a","a","b","b","a"]
list.sort()
print(list)

['a', 'a', 'a', 'b', 'b', 'c', 'd']

In [2]:
a=float(input("ENTER A NUMBER"))
if a>0 :
    print("positive")
else :
    print("negative")

ENTER A NUMBER -55

negative

In [5]:
a=float(input("ENTER A NUMBER"))
if a>0 :
    print("positive")
elif a==0 :
    print("zero")
else :
    print("negative")

ENTER A NUMBER 66

positive

In [7]:
a=float(input("ENTER A NUMBER"))
if a%2==0 :
    print("even")
else :
    print("odd")

ENTER A NUMBER 66

even

In [10]:
a=int(input("ENTER YOUR AGE"))
if a>=18 :
    print("eligible")
else :
    print("not eligible")

ENTER YOUR AGE 1

not eligible

In [20]:
a=float(input("ENTER A NUMBER"))
if a>=80 :
    print("your grade is a")
elif a>60 and a<=80 :
    print("your grade is b")
elif a>40 and a<=60 :
    print("your grade is c")
else :
    print("your grade is f")

ENTER A NUMBER 30

your grade is f

In [12]:
a=input("ENTER A CHARECTER")
if (a=='a' or a=='e' or a=='i' or a=='o' or a=='u'):
    print("5 points")
elif a.isdigit() :
    print("10 points")
else :
    print("0 points")

ENTER A CHARECTER 88

10 points

In [36]:
a=str(input("enter a string"))
if a.isupper() :
    print("hi")
else :
    print("hello")

enter a string s

hello

a=int(input("ENTER THE VALUE OF a"))
b=int(input("ENTER THE VALUE OF b"))
c=int(input("ENTER THE VALUE OF c"))
value = b**2-4*a*c
if value>0 :
    print("equation has real roots")
elif value==0 :
    print("equation has equal roots")
else :
    print("equation has imaginary roots")

In [14]:
a=float(input("ENTER YOUR WEIGHT IN Kg"))
height=float(input("ENTER YOUR HEIGHT IN M"))
BMI=a/height**2
print(round(BMI,2))
if BMI<18.5 :
    print("underweight")
elif BMI>18.5 and BMI<24.9 :
    print("normal weight")
else :
    print("overweight")

ENTER YOUR WEIGHT IN Kg 50
ENTER YOUR HEIGHT IN M 1.6

19.53
normal weight

In [10]:
a=str(input("ENTER THE SIGN OF X cordinate"))
b=str(input("ENTER THE SIGN OF Y cordinate"))
if a=="+" and b=="+" :
    print("1 st quadrant")
elif a=="-" and b=="+" :
    print("2 nd quadrant")
elif a=="-" and b=="-" :
    print("3 rd quadrant")
else :
    print("4 th quadrant")

ENTER THE SIGN OF X cordinate -
ENTER THE SIGN OF Y cordinate -

3 rd quadrant

In [12]:
a=int(input("ENTER THE YEAR"))
if a%4==0 :
    print("leap year")
else :
    print("not a leap year")

ENTER THE YEAR 2024

leap year

In [18]:
a=int(input("ENTER THE AMOUNT YOU SHOPPED"))
if a>0 and a<=1000 :
    print("YOU ARE HAVING 5% DISCOUNT")
elif a>1001 and a<=5000 :
    print("YOU ARE HAVING 10% DISCOUNT")
elif a>5001 and a<=10000 :
    print("YOU ARE HAVING 20% DISCOUNT")

ENTER THE AMOUNT YOU SHOPPED 5005

YOU ARE HAVING 20% DISCOUNT

In [12]:
operation=int(input("1:add,2:sub,3:mul,4:div"))
a=int(input("enter first num"))
b=int(input("enter second num"))
match operation:
     case 1:
         print(a+b)
     case 2:
         print(a-b)
     case 3:
         print(a*b)
     case default:
         print()

1:add,2:sub,3:mul,4:div 1
enter first num 45
enter second num 45

90

In [4]:
n=1
while n<=100 :
   print(n)
   n=n+2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
num1=("enter")
num2=("enter")
num3=("enter")
if num1>num2:
   if num1>num3:
       print("num 1 is greatest")
   else:
       if num2>num3:
           print("num2 is greatest")
       else :
            print("num3 is greatest")

In [35]:
rows = 4
cols = 3
matrix1 = []
for i in range(rows):
    row = []
    for j in range(cols):
        row.append(i * j)
    matrix1.append(row)
for row in matrix1:
    print(row)
print()
matrix2 = []
for i in range(rows):
    row = []
    for j in range(cols):
        row.append(i + j)
    matrix2.append(row)
for row in matrix2:
    print(row)
print()

[0, 0, 0]
[0, 1, 2]
[0, 2, 4]
[0, 3, 6]

[0, 1, 2]
[1, 2, 3]
[2, 3, 4]
[3, 4, 5]

In [41]:
rows = 4
cols = 3
matrix1 = []
for i in range(rows):
    row = []
    for j in range(cols):
        row.append(i * j)
    matrix1.append(row)
print(matrix1)
print()
rows = 4
cols = 3
matrix2 = []
for i in range(rows):
    row = []
    for j in range(cols):
        row.append(i + j)
    matrix2.append(row)
print(matrix2)
print()
for i in range(

[[0, 0, 0], [0, 1, 2], [0, 2, 4], [0, 3, 6]]

[[0, 1, 2], [1, 2, 3], [2, 3, 4], [3, 4, 5]]

[[0, 0, 0], [0, 1, 2], [0, 2, 4], [0, 3, 6], [0, 1, 2], [1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [42]:
rows = 3
cols = 4
matrix1 = []
for i in range(rows):
    row = []
    for j in range(cols):
        row.append(i + j)
    matrix1.append(row)
print(matrix1)

[[0, 1, 2, 3], [1, 2, 3, 4], [2, 3, 4, 5]]

In [7]:
#QUESTION 1
for i in range(1,5):
    for j in range(0,i):
        print(i,end="")
    i=i+1
    print()

1
22
333
4444

In [8]:
#QUESTION 2
for i in range(1,6):
    for j in range(i,6):
        print(i,end="")
    i=i+1
    print()

11111
2222
333
44
5

In [10]:
#QUESTION 3
for i in range(1,6):
    for j in range(0,i):
        print(j+1,end="")
    i=i+1
    print()

1
12
123
1234
12345

In [17]:
#QUESTION 4
for i in range(0,5):
    for j in range(5,i,-1):
        print(5-i,end=" ")
    i=i+1
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [18]:
#QUESTION 5
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end=" ")
    i=i+1
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [22]:
#QUESTION 6
for i in range(0,6):
    for j in range(6,i,-1):
        print((5-j)+1,end=" ")
    i=i+1
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [ ]:
#QUESTION 7

In [16]:
#QUESTION 8
for i in range(1,6):
    for j in range(i,6):
        print(" ",end=" ")
    for j in range(1,i+1):
        print(j,end=" ")
    i=i+1
    print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [23]:
#QUESTION 9
for i in range(0,5):
    for j in range(5,i,-1):
        print(5,end=" ")
    i=i+1
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [23]:
matrix1=[[1,2,3],[1,1,1],[2,3,4]]
matrix2=[[1,1,1],[2,2,2],[3,3,3]]
result=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(matrix1)):
    for j in range(len(matrix2)):
        result[i][j]=matrix1[i][j]+matrix2[i][j]
print(result)

[[2, 3, 4], [3, 3, 3], [5, 6, 7]]

In [7]:
n=5
i=1
while i<=n:
    print(' '*(n-i)+'*'*(2*i-1))
    i+=1

    *
   ***
  *****
 *******
*********

In [8]:
n=5
i=0
while n-i>0:
    print(' '*i+'*'*(2*(n-i)-1))
    i+=1

*********
 *******
  *****
   ***
    *

In [9]:
n=5
i=1
while i<=n:
    print(' '*(n-i)+'*'*i)
    i+=1

    *
   **
  ***
 ****
*****

In [11]:
rows=3
cols=3
matrix=[]
for i in range(rows):
    row=[]
    for j in range(cols):
        row.append(0)
    matrix.append(row)
print(matrix)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [18]:
for i in range(1,6):
    print(''*(n-1)+'*'*(2*i-1))

*
***
*****
*******
*********

In [28]:
n=5
for i in range(n):
    for j in range(n):
        print("*",end='')
    print()

*****
*****
*****
*****
*****

In [31]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [32]:
n=5
for i in range(n):
    for j in range(i,n):
        print("*",end='')
    print()

*****
****
***
**
*

In [35]:
n=5
for i in range(n):
    for j in range(i,n):
        print('',end='')
    for j in range(i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [1]:
matrix1=[[1,2,3],[1,1,1],[2,3,4]]
print(len(matrix1))

3

In [9]:
squares=[x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
list=["jayasree","sanjana","jashwanth","apple","banana"]
new_list=[i for j in list if list[i]]
print(new_list)

NameError: name 'i' is not defined

In [15]:
string="programing"
vowel="aAeEiIoOuU"
count=sum(1 for char in string if char in vowel)
print(count)
sree=[char for char in string if char in vowel]
print(sree)
jaya=[char for char in string if char not in vowel]
print(jaya)

3
['o', 'a', 'i']
['p', 'r', 'g', 'r', 'm', 'n', 'g']

In [27]:
string=["jaya","sree"]
vowel="aAeEiIoOuU"
count=sum(1 for char in string if char in vowel)
print(count)
z=[char for word in string if char in vowel]
print(z)
consaonant=[char for char in string if char not in vowel]
print(consaonant)

0
[]
['jaya', 'sree']

In [18]:
string="programing"
vowel="aAeEiIoOuU"
for char in string:
    if char in vowel:
        print(char)

o
a
i

In [21]:
import string 
input="$H$ELLO, @world!"
new=''.join(char for char in input if char not in string.punctuation)
print(new)

HELLO world

In [22]:
import string
input="Hello, world!"
new="data".join(["science","is","fun"])
print(new)
new1="data".join("science")
print(new1)

sciencedataisdatafun
sdatacdataidataedatandatacdatae

In [23]:
sentence="python is fun"
long=sentence.split()
word=' '
for i in long:
    if(len(i)>len(word)):
        word=i
print(word)

python

In [26]:
#
string='hello world'
last=string.rfind('o')
print(last)

7